input {
    height: 2em;
    width: 100%;
    border-radius: 10px;
    /*Cores*/
    border: 2px solid var(--azulDiferenciado);
    background-color: var(--azulEscuro);
    color: #fff;
}

input[type="radio"] {
    height: .8em;
    width: 15px;
    margin-right: 5px;
}

input:focus {
    outline: none;
    border: 2px solid var(--rosa);
}

.submitButton {
    margin-top: 20px;
    background-color: var(--azulDiferenciado);
    transition: .3s;
}

.submitButton:hover {
    background-color: var(--rosa);
    border-color: var(--rosa);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #fff;
    background-color: var(--azulEscuro);
    border: 2px solid var(--azulDiferenciado);
    border-radius: 10px;
    height: 2em;
    padding-left: 10px;
    padding-right: 10px;
}

select:focus {
    outline: none;
    border: 2px solid var(--rosa);
}
