thead, tbody{
    display: block;
    border: 2px solid var(--rosa);
    border-top: 2px solid var(--rosa);
}

thead{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top: 4px solid var(--rosa);
    border-bottom: 1px solid var(--rosa);
}

tbody{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: 1px solid var(--rosa);
    border-bottom: 2px solid var(--rosa);
}

#tabelaReal{
    margin-top: 50px !important;
    margin: auto;
    height: 100px;
}

th{
  text-align: center;  
}

tr{
    border-bottom: 2px solid var(--rosa);
}

td, th{
    height: 2em;
    width: 170px;
    border-left: 2px solid var(--rosa);
    border-right: 2px solid var(--rosa);
    text-align: center;
}

.id{
    width: 55px;
}

.email{
    width: 240px;
}

.moreOptions{
    transition: .2s;
}

.moreOptions > a{
    color: #fff;
    text-decoration: none;
}

.hover {
    background-color: #000091;
    text-decoration: underline;
}