/*Main Area*/
.mainLinha{
    background-image: linear-gradient(to right, var(--azul), var(--rosa));
    height: 3px;
    border: none; 
    padding: 0px;
    opacity: 100;
}

.mainArea{
    height: 80%;
}
.filtro{
    display: flex;
    justify-content: end;
}

.filtro button{
    /*tamanho*/
    display: flex;
    align-items: center;
    margin-right: 20px;
    border: 3px solid var(--rosa);
    border-radius: 20px;
    /*Cores*/
    background-color: var(--azulEscuro);
    color: white; 
    /*fonte*/
    font-size: 1.5em;
    font-weight: bold;
    transition: .3s;
}

.filtro button:hover{
    border-color: #fff;
}

.estoqueItem{
    border: 3px solid var(--rosa);
    border-radius: 20px;
    height: 130px;
}

.estoqueLinha{
   background-color: var(--rosa) !important;
   height: 3px;
    border: none; 
    padding: 0px;
    opacity: 100;
    margin-left: -15px;
    width: 165px;
}

.estoqueItem .itemHeader{
    margin-top: 15px;
}

.estoqueItem .imgItem{
    border-right: 3px solid var(--rosa);
    height: 127px;
    display: flex;
    width:50%;
    height: 127px;
}

.imgItem img{
    height: 100px;
    margin: auto;
}

.estoqueItem p {
    line-height: 5px;
}
.blocos, .tabela{
    display: none;
}

.active{
    display: block;
}

.activeBtn{
    border-color: #fff !important; 
    cursor: default !important;
}

thead, tbody{
    display: block;
    border: 2px solid var(--rosa);
    border-top: 2px solid var(--rosa);
}

thead{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top: 4px solid var(--rosa);
    border-bottom: 1px solid var(--rosa);
}

tbody{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: 1px solid var(--rosa);
    border-bottom: 2px solid var(--rosa);
}

#tabelaReal{
    margin-top: 50px !important;
    margin: auto;
    height: 100px;
}

th{
  text-align: center;  
}

tr{
    border-bottom: 2px solid var(--rosa);
}

td, th{
    height: 2em;
    width: 170px;
    border-left: 2px solid var(--rosa);
    border-right: 2px solid var(--rosa);
}