input{
    height: 2em;
    width: 100%;
    border-radius: 10px;
    /*Cores*/
    border: 2px solid var(--azulDiferenciado);
    background-color: var(--azulEscuro);
    color: #fff;

}

input[type=radio]{
   height: .8em;
   width: 15px;
   margin-right: 5px;
}
label{

}

input:focus{
    outline: none;
    border: 2px solid var(--rosa);
}