:root{
    --rosa1: #E000C2;
    --rosa2: #FF058C;
    --rosa3: #FF006B;
    --azulClaro: #07E8FF;
    --azul: #0000FF;    
    --azulDiferenciado:#3214E1; 
    --azulEscuro1:#191143;
    --azulEscuro2: #191143;  
    --preto: #1E1E1E;
}

.entrarBody{
    background-color: var(--azulEscuro1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

#objetos{
    z-index: 1;
}

#fundoCyber{
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
}

.imgLogoEntrar{
    width: 275px;
    display: block;
    margin: auto;
}

#loadingIcon{
    width: 50px;
    display: block;
    margin: auto;
    margin-top: 50px;
}