main {
    height: 90vh;
    display: flex;
    align-items: center;
}

.fundoMain{
    display: block;
    background-color: var(--azulEscuro);
    box-shadow: 6px 8px 10px #000;
    margin-top: 5px;
    border-radius: 20px;
    height:90%;
    width: 80%;
    margin: auto;
}

.rows {
    height: 100%;
}

.menuTopics{
    display: flex;
    align-items: center;
    justify-content: center;
}


.configMenu>li{
    list-style-type: none;
    font-size: 1.5em;
    margin: 15px 0px;
}

.infoItens{
    width: 100%;
    margin-top: 15px
}


.camposConfig div{
    font-size: 1.3em;
    margin-left: 10px;
}

.camposConfig p{
    border-bottom: 2px solid #fff;
    font-size: 1.2em;
    margin-left: 10px;
    margin-bottom: 0;
}

.info{
    display: block;
    border-left: 3px solid var(--azulDiferenciado);
    height: 100%;
}

.info h1{
    margin-top: 25px;
}

.configMenu a, .configMenu span{
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    width: 270px;
    border-radius: 20px;
    padding: 5px;
}

.activeConfig, .configMenu a:hover, .configMenu span:hover{
    background-color: #000;
    cursor: pointer;
}

.activeConfig{
    cursor: default;
}

/*Informaões Pessoais*/

.menuOptionConfig{
    margin-top: 10px;
    width: 99%;
}

.menuOptionConfig img{
    display: block;
    margin: auto;
    padding: 5px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid var(--rosa);
}

#infoPessoais div{
    margin-bottom: 10px;
}

#infoPessoais{
    padding-top: 20px;
    width: 60%;
    margin: auto;
}

#infoPessoais label{
    display: block;
    width: 200px;
    font-size: 1.3em;
}

#infoPessoais input{
    width: 100%;
    margin-top: 10px;
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #fff;
}

#infoPessoais input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

.menuOptionConfig{
    overflow: auto;
    height: 80%;
}

.menuOptionConfig::-webkit-scrollbar {
    width: 10px;  /* Largura da barra de rolagem */
}
  
.menuOptionConfig::-webkit-scrollbar-track {
    background-color: var(--azulEscuro);  /* Cor de fundo da área da barra de rolagem */
    border: 2px solid var(--rosa);
    border-radius: 20px;
}
  
.menuOptionConfig::-webkit-scrollbar-thumb {
    background-color: #b4b4b4;  /* Cor do polegar da barra de rolagem */
    border-radius: 20px;
    width: 6px;
}
  
.menuOptionConfig::-webkit-scrollbar-thumb:hover {
    background-color: #808080;  /* Cor do polegar da barra de rolagem ao passar o mouse */
}

.btnSubmitJS{
    display: block;
    width: 60%;
    margin: auto;
    margin-top: 10px;
    color: #fff;
    background-color: var(--rosa) ; 
    border: none;
    border-radius: 20px;
    height: 2em;
    transition: .3s;
}

.btnSubmitJS:hover{
    background-color: #94007e;
}

.btnSubmitJS:disabled{
    background-color: #290023;
}

.passwordClass{
    display: none;
}


form{
    width: 50%;
    color: #fff;
}


.confirmForms{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70%;
}
.forms{
    width: 60%;
    padding: 10px;
    border: 4px solid var(--rosa);
    border-radius: 20px;
    box-shadow: #000 7px 6px 10px;
}

.confirmForms label{
    font-size: 1.2em;
    margin-bottom: 5px;
}

.confirmForms input{
    width: 100%;
    padding: 0px 13px;
    border: 3px solid var(--rosa);
    border-radius: 20px;
    background-color: transparent;
    color: #fff;
    font-size: 1.3em;
}

.confirmForms input:hover{    
    border-color: #fff;
}

.confirmForms input:focus{
    outline: none;
    border-color: #fff;
}

.confirmForms .btnEntrar{
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 75%;
    color: #fff;
    background-color: var(--rosa);
    border: none;
    border-radius: 20px;
    font-size: 1.3em;
    transition: .5s;
}

.confirmForms .btnEntrar:hover{
    background-color: var(--azulDiferenciado);
}


.disable{
    display: none;
}