.hover{
    text-decoration: underline;
}

.card{
    margin: auto;
    width: 400px !important;
    background-color: var(--azulescuro);
    color: #fff;
    border: 2px solid transparent;
 
}

.card img{
    display: block;
    margin: auto;
    border: 3px solid var(--rosa);
    border-radius: 100%;
    padding: 10px;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.card p{
    line-height: 20px;
    width: 100%;
}

.card span{
    display: block;
}

.card strong{
    font-size: 1.8em;
    text-decoration: underline;
}

.importantInfo:hover{
    text-decoration: underline;
    cursor: default;
}

.card-text{
    font-weight: bold;
    margin-left: 20px;
}

.card-text::before{
    content: '- ' ;
}

.informacoes{
    border: 2px solid transparent;
}

.informacoes > div{
    margin-top: 10px;
}

.text{
    width: 350px;
    margin: auto;
    margin-top: 15px;
}

p{
    line-height: 10px;
    font-size: 1.1em;
}


.res{
    margin-left: 25px;
    font-size: 1.3em;
    line-height: 15px;
    font-weight: bold;
    cursor: default;
}

.res::before{
    content: '- ';
}

.btn{
    width: 80%;
}

