main {
    display: block;
    height: 90vh;
    margin-top: 10vh;
}

h2 {
    text-align: center;
}

.pedidosArea {
    height: 80vh;
    overflow: auto;
}

.pedidoDiv {
    background-color: var(--roxo);
    color: #000;
    border-radius: 30px;
    padding: 20px;
    margin: 10px auto;
}

.Hora,
.difTempo,
h3 span {
    color: #000;
}

label {
    font-size: 1.5em;
    color: #000;
    font-weight: 600;
}

#itensPedidos{
    display: block;
    color: #000 !important;
    margin-top: 15px;
}
.fa-circle-xmark{
    height: 100%;
    font-size: 2em;
}

.itensPedidos{
   margin: auto ;
   margin-top: 20px ;
width: 100%;
}

.itensPedidos input{
    color: #000 ;
}
.itensPedidos .row{
    width: 100%;
    margin: auto !important;
}
.inputEdit {
    margin-top: 20px;
    width: 100%;
}

.inputEdit input {
    background-color: var(--roxo);
    border: none;
    border-radius: 0px;
    border-bottom: 3px solid var(--rosa3);
}

.inputEdit input:focus {
    outline: none;
}

.inputNomeProduto {
    border: none;
    border-bottom: 3px solid var(--rosa3);
    padding: 0px;
}

.inputQtdProduto {
    border: 3px solid var(--rosa3) !important;
    border-radius: 20px !important;
}

.inputQtdProduto:focus {
    border: 3px solid #fff !important;
}

.inputEdit button {
    background-color: var(--roxo);
    border: none;
}

.btnArea{
    margin-top: 15px;
    width: 100%;
}

.btnArea input {
    display: block;
    margin: auto;
    background-color: var(--azulEscuro);
    padding: 15px 20px;
    border-radius: 30px;
    border: 2px solid var(--rosa3);
    font-size: 1.2em;
}