:root {
    --rosa: #E000C2;
    --azulClaro: #07E8FF;
    --azul: #0000FF;
    --azulEscuro: #191143;
    --azulDiferenciado: #3214E1;
}

.disable{
    display: none;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    color: #fff;
}

.fundo {
    position: absolute;
    background-image: linear-gradient(to left, var(--rosa), var(--azul));
    width: 100%;
    height: 100%;
}

header {
    background-color: rgb(22, 15, 62);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuArea {
    display: block;
    margin-left: 15px;

}

.menuArea {
    height: 100%;
    display: flex;
    align-items: center;
}

.menuArea span {
    height: 100%;
    width: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.menuArea span:hover {
    background-color: #000;
}

.menuArea span a {
    color: #fff;
}

.active {
    background-color: #000;
}

/*Área do Candidato*/
.sidebar-header {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.logo-img {
    margin-right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    transition: .4s;
}

.logo-img:hover {
    transform: scale(1.5);
}

.nome,
.id {
    margin-right: 15px;
}

/*Menu Hamburguer*/

.hamburger-menu {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#checkbox-menu {
    position: absolute;
    opacity: 0;
}

label {
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
}

label span {
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background: #fff;
    transition: 0.25s ease-in-out;
}

label span:nth-child(1) {
    top: 0;
}

label span:nth-child(2) {
    top: 8px;
}

label span:nth-child(3) {
    top: 16px;
}

#checkbox-menu:checked+label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 8px;
}

#checkbox-menu:checked+label span:nth-child(2) {
    opacity: 0;
}

#checkbox-menu:checked+label span:nth-child(3) {
    transform: rotate(45deg);
    top: 8px;
}

/*Menu de configurações*/

.menuConfig {
    position: absolute;
    background-color: #000;
    top: 60px;
    right: 0;
    display: none;
    border-bottom-left-radius: 20px;
}

.menuConfig a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 25px;
    margin: 5px 0;
}

.menuConfig a>i {
    padding-right: 10px;
}

/*Itens Extras*/

.linha{
    border: 1px solid white;
    opacity: 100;
    width: 100%;
}