main {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pedidoArea,
.confirmArea {
    background-color: var(--azulEscuro);
    height: 500px;
    padding: 10px 15px;
    border-radius: 20px;
}

.mainPedidoArea {
    overflow: auto;
    margin-top: 22px;
    height: 80%;
}

.confirmArea {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}

.confirmCompra {
    width: 100%;
}

.confirmCompra button {
    display: block;
    margin: auto;
    background-color: var(--azulEscuro);
    border: 3px solid var(--rosa);
    color: #fff;
    border-radius: 20px;
    font-size: 1.6em;
    transition: .3s;
}

.confirmCompra button:hover {
    background-color: var(--rosa);
}

.valor {
    width: 100%;
}

.valor label {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}

.valor p {
    margin-bottom: 10px;
}

.formularioCupom {
    margin-bottom: 10px;
}

.formularioCupom input {
    display: block;
    margin: auto;
    width: 100%;
    border: 3px solid var(--rosa);
    border-radius: 20px;
}



.formularioCupom input:focus {
    outline: none;
}

.btnCupom {
    display: block;
    background-color: var(--azulEscuro);
    color: #fff;
    border: 3px solid var(--rosa);
    border-radius: 20px;
    margin: auto;
    margin-bottom: 10px;
    transition: .3s;
}

.btnCupom:hover {
    border-color: var(--azulDiferenciado);
}

.linha {
    margin: 0;
    border: 2px solid #fff;
}

details {}

summary {
    font-size: 1.6em;
}

details p {
    margin-bottom: 0px;
}


select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #fff;
    background-color: var(--azulEscuro);
    border: 2px solid var(--rosa);
    border-radius: 10px;
    height: 2em;
    padding-left: 10px;
    padding-right: 10px;
    transition: .3s;
}

select:focus {
    outline: none;
    border: 2px solid var(--azulDiferenciado);
}

select:hover {
    border: 2px solid var(--azulDiferenciado);
}

.inputCupom, .inputCliente{
    color: #fff;
    background-color: transparent;
    border: 2px solid var(--rosa);
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    transition: .3s;
}

.inputCupom:focus, .inputCliente:focus{
    outline: none;
    border-color: var(--azul);
}