main {
    flex-direction: column;
    justify-content: center;
}

.mensagemArea {
    width: 80%;
    height: 30vh;
    border-radius: 55px;
    background: #E000C2;
    margin: -50px auto 50px auto;
}

.mensagemArea h2,
.mensagemArea p {
    width: 100%;
    color: #ffffff;
    text-align: center;
}

.mensagemArea h2{
margin-top: 30px;
font-size: 2.5em;
}

b{
    color: #ffffff;
}

.mensagemArea p {
    margin-bottom: 1px;
    font-size: 1.5em;
}

.btnArea{
    width: 100%;
}

.btnArea button{
    display: block;
    margin: auto;
    padding: 10px 15px;
    background-color: var(--azulEscuro);
    color: #fff;
    font-size: 2em;
    border: 3px solid var(--rosa3);
    border-radius: 30px;
}