main {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pedidosAbertosArea {
    height: 80vh;
    width: 80%;
    padding: 20px 10px 20px 10px;
    color: #fff;
    background-color: var(--azulEscuro);
    border-radius: 20px;
    box-shadow: 4px 4px 8px black;
}

.pedidosAbertosItems {
    overflow: auto;
    height: 50vh;
}

.optionComanda {
    display: block;
    width: 80%;
    height: 2em;
    margin: auto;
    border: 3px solid #fff;
    border-radius: 20px;
    transition: .3s;
}

.optionComandaSelect{
    border-color: var(--rosa);
    transform: scale(1.1);
}

.pedidosAbertosItems input{
    position: absolute;
    left: -9999px;
}

.pedidosAbertosItemsArea{
    margin-top: 10px
}

.optionButtonArea{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.optionButtonArea button{
    background-color: var(--azulEscuro);
    color: #fff;
    border: 3px solid var(--rosa);
    border-radius: 20px;
    transition: .3s;
}

.optionButtonArea button:hover{
    border-color: #fff;
    transform: scale(1.3);
}

/*PopUp*/
.opaco{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(97, 97, 97, 0.514);
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}



.popUpPediodo,
.popUp{
    position: absolute;
    box-shadow: #000 4px 4px 10px;
    background-color: var(--azulEscuro);
    height: 70%;
    margin: auto;
    width: 50%;
    border-radius: 20px;
    z-index: 1;
}

.popUpHeader{
    background-color: var(--azulEscuro);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popUpHeader>h2{
  width: 90%;
  margin-top: 10px;
}

.popUpHeader>button{
  background-color: transparent;
  border: none;
}

.popupLinha{
    border: 1px solid white;
    opacity: 100;
    width: 100%;
    margin: 0%;
}

.popUpInfo, .popUpInfoo{
    margin-top: 15px;
    overflow: auto;
    height: 55vh;
}


.popDown{
    display: none;
}

#btnConcluirPedidoFinal{
    background-color: var(--azulEscuro);
    color: #fff;
    border: 3px solid var(--rosa);
    border-radius: 20px;
    transition: .3s;
}