.mainArea div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
}
.mainArea a{
    /*Area*/
    padding: 10px 0px;
    width: 80%;
    border: 5px solid #000;
    border-radius: 20px;
    /*Fonte*/
    font-size: 2.5em;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    /*Extra*/
    transition: .3s;
}

.mainArea a:hover{
    /*Borda*/
    border-color: #FFF;
}

