main {
    display: block;
    height: 90vh;
    margin-top: 10vh;
}

h2 {
    text-align: center;
}

.pedidosArea {
    height: 80vh;
    overflow: auto;
}

.pedidoDiv {
    background-color: var(--roxo);
    color: #000;
    border-radius: 30px;
    padding: 20px 15px;
    margin: 10px auto;
}

h3 {
    text-align: center;
}

.Hora,
.difTempo,
h3 span {
    color: #000;
}