main {
    height: 90vh;
    display: flex;
    align-items: center;
}

.pedidoAtualArea {
    display: block;
    margin: auto;
    padding: 20px 40px;
    width: 80%;
    height: 70%;
    background-color: var(--azulEscuro);
    color: #fff;
    border-radius: 20px;
}

.pedidoAtualHeader {
    border-bottom: 3px solid #fff;
}

.pedidoAtualItens {
    height: 70%;
    overflow: auto;
    margin-top: 20px;
}

.pedidoAtualFooter {
    display: flex;
    justify-content: space-around;
}

.pedidoAtualFooter button{
    display: block;
    height: 2em;
    width:150px;
    color: #fff;
    background-color: var(--azulEscuro);
    border: 2px solid #fff;
    border-radius: 20px;
    transition: .3s;
}

.pedidoAtualFooter button:hover{
    background-color: #fff;
    color: var(--azulEscuro);
}

.pedidoAtualFooter button:focus{
    color: #fff;
    background-color: var(--azulEscuro);
}

.itemPedido div{
    width: 50%;
    display: flex;
    justify-content: space-between;
}