main {
    height: 90vh;
    display: flex;
    align-items: center;
}


.fundo {
    position: absolute;
    background-image: linear-gradient(to left, var(--rosa), var(--azul));
    width: 100%;
    height: 100%;
}

.sidebar {
    background-color: var(--azulEscuro);
    height: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 40px 10px 30px 10px;
    border-radius: 20px;
    box-shadow: 4px 4px 8px black;
}

.option {
    margin-left: 10px;
}

.textOption {
    display: flex;
    align-items: center;
    padding: 0;
}

.textOption span {
    border-radius: 0px 20px 20px 0px;
}

input[type="radio"] {
    position: absolute;
    left: -9999px;
}

.ampliar {
    transform: scale(1.1);
    transition: transform 0.4s ease;
    /* Adicionando uma transição de escala suave */
}

.background {
    background-color: #000;
    border-radius: 50%;
}

.labelText {
    display: block;
    width: 100%;
    height: 1.5em;
    padding-right: 15px;
    padding-left: 5px;
    border-radius: 0px 20px 20px 0px;
    font-size: 1.5em;
    transition: 0.5s;
    /* Adicionando uma transição de escala suave */
}

.backgroundColor {
    background-color: #000;
}

.imgOption {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    transition: .5s;
}

.imgOption img {
    display: block;
    height: 60px;
    width: 60px;
}

.btnArea {
    width: 100%;
}

.btnArea a {
    text-decoration: none;
}

.btnCarrinho {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--rosa);
    border-radius: 20px;
    border: 2px solid transparent;
    transition: .4s;
}

.btnCarrinho:hover {
    border: 2px solid #000;
    background-color: var(--azul);
}

.btnCarrinho p {
    margin-bottom: 0%;
    margin-left: 20px;
    color: #fff;
    font-size: 1.3em;
}

.btnCarrinho i {
    margin-right: 20px;
}

.areaPedidos {
    background-color: var(--azulEscuro);
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 40px 10px 30px 10px;
    border-radius: 20px;
    box-shadow: 4px 4px 8px black;
}

.combos,
.hamburguer,
.porcoes,
.sobremesas,
.bebidas {
    width: 100%;
}

.pedido {
    background-color: #c3c3c3;
    border: 3px solid #000;
    height: 250px;
    width: 100%;
    border-radius: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.infoPedido {
    display: flex;
    justify-content: end;
}

.infoPedido i {
    margin-top: 10px;
    margin-right: 13px;
    color: #575757;
    transition: .3s;
}

.infoPedido i:hover {
    color: #000;
}

.imgPedido {
    margin: auto;
    background-color: #fff;
    height: 100px;
    width: 150px;
    border-radius: 20px;
    border: 3px solid #000;
}

.textAreaPedido {
    height: 45%;
    display: flex;
    align-items: flex-end;
    justify-content: center
}

.textPedido p {
    display: block;
    color: #000;
    margin-bottom: 5px;
    text-align: center;
}

.textPedido button {
    display: block;
    background-color: var(--azulEscuro);
    color: #fff;
    border: none;
    border-radius: 20px;
    margin: auto;
    font-size: 1.3em;
}

.textPedido a {
    text-decoration: none;
}


.pedidos {
    height: 400px;
    overflow: auto;
}

.pedidos::-webkit-scrollbar {
    width: 10px;
    /* Largura da barra de rolagem */
}

.pedidos::-webkit-scrollbar-track {
    background-color: var(--azulEscuro);
    /* Cor de fundo da área da barra de rolagem */
    border: 2px solid var(--rosa);
    border-radius: 20px;
}

.pedidos::-webkit-scrollbar-thumb {
    background-color: #b4b4b4;
    /* Cor do polegar da barra de rolagem */
    border-radius: 20px;
    width: 6px;
}

.pedidos::-webkit-scrollbar-thumb:hover {
    background-color: #808080;
    /* Cor do polegar da barra de rolagem ao passar o mouse */
}