main {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clienteArea {
    height: 80%;
    width: 80%;
    padding: 20px 10px 20px 10px;
    color: #fff;
    background-color: var(--azulEscuro);
    border-radius: 20px;
    box-shadow: 4px 4px 8px black;
}

.sexo label{
display: inline-block;
}

form input {
    height: 2em;
    width: 100%;
    border-radius: 10px;
    /*Cores*/
    border: 2px solid var(--azulDiferenciado);
    background-color: var(--azulEscuro);
    color: #fff;
}

input[type="radio"] {
    height: .8em;
    width: 15px;
    margin-right: 5px;
}

input:focus {
    outline: none;
    border: 2px solid var(--rosa);
}

.submitButton {
    margin-top: 20px;
    background-color: var(--azulDiferenciado);
    transition: .3s;
}

.submitButton:hover {
    background-color: var(--rosa);
    border-color: var(--rosa);
}